{##
 # This file is part of the SgDatatablesBundle project.
 #
 # Copyright (c) 2021. stwe <https://github.com/stwe/DatatablesBundle>
 #
 # License: MIT
 #}

{% if invalid_value is same as(false) %}
    <span class="{{ class }}">{{ result }}</span>
{% else %}
    <b><i>invalid value</i></b>
{% endif %}
