{##
 # This file is part of the SgDatatablesBundle project.
 #
 # Copyright (c) 2021. stwe <https://github.com/stwe/DatatablesBundle>
 #
 # License: MIT
 #}

<span
    data-controller="moment"
    data-moment-target="sgmoment"
    data-format="{{ format }}"
>
{{ result }}
</span>
