{##
 # This file is part of the SgDatatablesBundle project.
 #
 # Copyright (c) 2021. stwe <https://github.com/stwe/DatatablesBundle>
 #
 # License: MIT
 #}

{#
DatatablesBundle controller
<div data-controller="sg--datatables--datatable">

data-columns="{{ sg_datatable.columnBuilder|json_encode|e}}"
#}

<div data-controller="app">
    <table data-app-target="sgdatatable"
           data-ajax-options="{{ sg_datatable.ajax|json_encode|e }}"
           class="display" style="width:100%"
    >
        <thead>
            <tr>
                {% for column in sg_datatable.columnBuilder.columns %}
                    <th>{{ column.dql }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tfoot>
        </tfoot>
    </table>
</div>
