{##
 # This file is part of the SgDatatablesBundle project.
 #
 # Copyright (c) 2021. stwe <https://github.com/stwe/DatatablesBundle>
 #
 # License: MIT
 #}

<table id="table_id" class="display" cellspacing="0" width="100%" }}>
    <thead>
    </thead>
    <tfoot>
    </tfoot>
</table>
