{##
 # This file is part of the SgDatatablesBundle project.
 #
 # Copyright (c) 2021. stwe <https://github.com/stwe/DatatablesBundle>
 #
 # License: MIT
 #}

<div data-controller="sg--datatables--datatable">
    <table data-sg--datatables--datatable-target="sgdatatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
